.accordion {
  &-container {

  }
  &__item {
    position: relative;
    width: 100%;
    height: auto;
    &.active {
      & .accordion__arrow {
        &:before {
          opacity: 0;
          visibility: hidden;
        }
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__content {
    display:none;
    padding: 14px 20px;
    & p {
      margin: 0 0 15px 0;
      color: $defaultText;
      &:last-child {
        margin: 0;
      }
    }
    & a {
      border-bottom: 1px solid $darkBlue;
      color: $darkBlue;
      @include transition(.3);
      &:hover {
        border-color: transparent;
      }
    }
  }
  &__button {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: $defaultText;
    font-size: 21px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid $whiteColor;;
    @include transition(.3);
    & i {
      width: 20px;
      height: 10px;
      &:before, &:after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 10px;
        @include transition(.3);
      }
      &:before {
        background: url('../img/arrow-bottom-grey.svg');
      }
      &:after {
        opacity: 0;
        background: url('../img/arrow-top-blue.svg');
      }
    }
  }
}