@import "../abstracts/mixins";
@import "../abstracts/variables";

.edit-page {
  &.edit-page-filled {
    & .form-group p {
      border: 1px solid #D1D1D1;
      background: transparent;
      padding: 10px 10px;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      font-weight: 600;
    }
  }
}

.tags {
  &-list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    padding: 4px 14px;
    border: 2px solid #979797;
    box-sizing: border-box;
    border-radius: 18px;
    margin: 0 10px 10px 0;
    display: flex;
    align-items: center;
  }
  &__remove {
    width: 18px;
    height: 18px;
    padding: 0;
    background: #6d7278;
    border-radius: 100%;
    border: none;
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
    padding: 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1;
    & span {
      height: 100%;
      color: $whiteColor;
      display: block;
      transform: rotate(45deg);
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}

.edit-roster {
  & .row {
    @media (max-width: $breakpoint-md) {
      margin: 0 -10px;
    }
  }
  &__item {
    margin: 19px 25px;
    padding-bottom: 19px;
    border-bottom: 1px solid #D1D1D1;
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-md) {
      margin: 18px 10px;
    }
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  & .roster-item {
    &__image {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      overflow: hidden;
      @media (max-width: $breakpoint-lg) {
        display: none;
      }
      & img {
        @include defaultIcon(contain);
      }
    }
    &__buttons {
      display: flex;
      margin-left: auto;
      & .btn {
        width: 120px;
        height: 30px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        margin-left: 20px;
        @media (max-width: $breakpoint-lg) {
          width: 24px;
          height: 24px;
          padding: 0;
          justify-content: center;
        }
        & span {
          color: $whiteColor;
          @media (max-width: $breakpoint-lg) {
            display: none;
          }
        }
        &:before {
          content: '';
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          background-size: cover;
          margin-right: 10px;
          @media (max-width: $breakpoint-lg) {
            margin: 0;
            width: 12px;
            height: 12px;
          }
        }
      } 
    }
    &__edit {
      background: #6D7278;
      @include transition(.3);
      &:hover {
        background: #5c6065;
      }
      &.btn {
        &:before {
          margin-right: 22px;
        }
      }
      &:before {
        background-image: url('../img/icon-edit.svg')
      }
    }
    &__remove {
      &:before {
        background-image: url('../img/icon-remove.svg')
      }
      background: #E02020;
      &:hover {
        background: #ca1d1d;
      }
    } 
    &__name {
      margin-left: 34px;
      font-size: 16px;
      color: $darkBlue;
      font-weight: 700;
      width: 200px;
      @media (max-width: $breakpoint-lg) {
        margin-left: 0;
      }
      @media (max-width: 620px) {
        font-size: 12px;
        width: 110px;
        min-width: 110px;
      }
    }
    &__speciality {
      margin-left: 97px;
      @media (max-width: 620px) {
        margin-left: 35px;
      }
    }
  }
}
