@import url("https://use.typekit.net/mzs5xmm.css");

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?h7lkbl');
  src:  url('../fonts/icomoon.eot?h7lkbl#iefix') format('embedded-opentype'),
    // url('../fonts/icomoon.ttf?h7lkbl') format('truetype'),
    url('../fonts/icomoon.woff?h7lkbl') format('woff'),
    url('../fonts/icomoon.svg?h7lkbl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rounded-envelope:before {
  content: '';
  display: block;
  background-image: url('../img/icon-rounded-envelope.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15px;
  height: 10px;
}
.icon-rounded-globe:before {
  content: '';
  display: block;
  background-image: url('../img/icon-rounded-globe.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 16px;
  height: 16px;
}
.icon-rounded-phone:before {
  content: '';
  display: block;
  background-image: url('../img/icon-rounded-phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 11px;
  height: 17px;
}
.icon-rounded-person:before {
  content: '';
  display: block;
  background-image: url('../img/icon-rounded-person.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12px;
  height: 16px;
}
.icon-icon-arrow:before {
  content: "\e900";
  color: #1a98d5;
}
.icon-icon-envelope:before {
  content: "\e901";
  color: #009ade;
}
.icon-icon-file:before {
  content: "\e902";
  color: #fefefe;
}
.icon-icon-marker-blue:before {
  content: "\e903";
  color: #009ade;
}
.icon-icon-marker:before {
  content: "\e904";
  color: #555;
}
.icon-icon-regions:before {
  content: "\e905";
  color: #009ade;
}
.icon-icon-search:before {
  content: "\e90c";
  color: #555;
}
